.container
{
    margin-top: 100px;
   
}
.row
{
    display:flex;
    justify-content:space-around;
    
}
.navbar
{
    background-color: #a9d3e3;
}
/* .footer */
/* {
    background-color: #ccf2f4;
     display: block; 
  
} */

.footer{

    margin-top: 500px;
    color: rgb(195, 102, 25) ;
   
}
.carousel-caption{

    color: #4c4a4a ;
}

.nav-link{
    font-weight: 550;
  color:#4c4a4a ;
  
}